<h1 align="center">List of All Recipes</h1>

<table class="ui fixed table">
<tbody>

<% @recipe.each do |r| %>
    <tr>
      <td> <%= link_to r.name, user_recipe_path(r.user_id, r.id) , class:"nav-link" %> 
      <br> 
      <%= button_to 'Remove', user_recipe_path(r.user_id, r.id), method: :delete,  class:' nav-link-outline' %>  </td>
      <td> <%= r.desciption %> </td>
    </tr>
    <% end %>
</tbody>
</table>

