<h1 align="center">List of All Recipes</h1>



<table class="ui fixed table">

  <%= @recipe.each do |r| %>
    <tr>
      <td> <%= r.name %> <br>  <%= link_to "remove", class:"nav-link" %> </td>
      <td> <%= r.desciption %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
