


<div>
  <h1>All recipes</h1>

  <% if @user==current_user %>
    <button><%= link_to "Add new Recipe", new_user_recipe_path %></button>
  <% end %>
</div>
<div>
  <% if @user==current_user %>
    <% @user.recipe.each do |recipe| %>
      <%= render recipe %>
    <% end %>

  <% else %>
    <% @user.recipe.where(public: true).each do |recipe| %>
      <%= render  recipe %>
    <% end %>
  <% end %>
</div>