<h1 align="center">List of All Recipes</h1>

<table class="ui fixed table">
<tbody>

<% @recipe.each do |r| %>
    <tr>
      <td> <%= link_to r.name, r , class:"nav-link" %> <br> <%= button_to 'Remove', recipe_path(r), method: :delete,  class:' nav-link-outline' %>  </td>
      <td> <%= r.desciption %> </td>
    </tr>
    <% end %>
</tbody>
</table>

