 <h1 align="center"> All Recipes</h1>

<% if @user==current_user %>
 
<span   align="right">
<%= link_to  "Add New Recipe ",new_user_recipe_path, class:"nav-link" %></span>
  <% end %>

 <table class="ui fixed table">
 <tbody>

 <% @user.recipe.each do |r| %>
     <tr>
       <td> <%= link_to r.name, user_recipe_path(r.user_id, r.id) , class:"nav-link" %> 
      
       <br> 
        
       
       <%= button_to 'Remove', user_recipe_path(r.user_id, r.id), method: :delete,  class:' nav-link-outline' %>  </td>
         
      <td> <%= r.desciption %> </td>

     </tr>
    <% end %>
 </tbody>
</table>

