<h1 align="center">List of All Foods</h1>
<table class="ui single line table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement unit </th>
      <th>Unir price </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @
    <tr>
      <td>John Lilki</td>
      <td>September 14, 2013</td>
      <td>jhlilk22@yahoo.com</td>
      <td>No</td>
    </tr>
   
  </tbody>
</table>
